.graphiclabel {
    /* display: none; */
    color: blue;
    opacity: 0;
    pointer-events: none;

}


:global(#graphic):hover ~ .graphiclabel {
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
}

.graphiclabel:hover {
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
}
