@keyframes dash {
    to {
      stroke-dashoffset: 100;
    }
}

.view {
    padding-top: 10px;
    width: 50%;
    text-align: center;
}

.svgWrapper {
    height: 100%;
}

.svg {
    width: 60%;
    font-family: 'Open Sans', sans-serif;
}

.movingLine {
    stroke-dasharray: 10 10;
    animation: dash 5s linear infinite;
}
