.cpulabel {
    color: #00f;
    opacity: 0;
    pointer-events: none;

}


:global(#cpu):hover ~ .cpulabel {
    opacity: 1;
    pointer-events: auto;
}

.cpulabel:hover {
    opacity: 1;
    pointer-events: auto;
}
